@import "tailwindcss";

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

@theme {
  --font-sans: var(--font-jetbrains-mono);
  --font-mono: var(--font-jetbrains-mono);
  --main-color: #ff8904;
  --dark-color: #ff6900;
}

:root {
  --primary-bg: #121212; /* Deep Black */
  --secondary-bg: #1e1e1e; /* Dark Gray */
  --accent-color: #e48a45; /* Deep Orange */
  --highlight-color: #ffa000; /* Bright Amber */
  --contrast-color: #37474f; /* Muted Blue-Gray */
  --text-color: #e0e0e0; /* Light Gray for readability */
  --border-color: #333333; /* Subtle borders */
}

body {
  color: var(--accent-color);
  background: var(--primary-bg);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a:hover {
  cursor: none;
}

button {
  cursor: none;
}

.animated-gradient {
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
